body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: Lucida Grande, Arial, sans-serif;
}

button,
input {
  outline: none;
}

div {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#content-container {
  display: inline-block;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#controls {
  padding: 0px;
  background-color: #eee;
  border-bottom: solid 1px #ccc;
}

#controls button,
#controls input {
  font-size: 14px;
  line-height: 24px;
  border-radius: 2px;
  padding: 0 6px;
}

#controls button#reload {
  border-radius: 16px;
}

#tab-controls {
  padding: 3px 3px 0px 3px;
  background: #888;
}

#browser-controls {
  padding: 3px;
}

#controls #zoom,
#controls #find {
  font-size: 18px;
}

button,
input[type="submit"],
button[disabled]:hover {
  border: solid 1px transparent;
  background: transparent;
}

button:hover,
input[type="submit"]:hover {
  border-color: #ccc;
  background: -webkit-linear-gradient(bottom, #cccccc 0%, #f2f2f2 99%);
}

button:active,
input[type="submit"]:active {
  border-color: #bbb;
  background: -webkit-linear-gradient(bottom, #e2e2e2 0%, #bbbbbb 99%);
}

/* These glyphs are on the small side, make them look more natural when
compared to the back/forward buttons */
#controls #home {
  font-size: 24px;
}

#controls #reload {
  font-size: 20px;
}

#location {
  border: solid 1px #ccc;
  padding: 2px;
  width: 100%;
  -webkit-box-sizing: border-box;
}

#browser-controls {
  display: -webkit-flex;
  -webit-flex-direction: column;
}

#browser-controls #location-form {
  -webkit-flex: 1;
  display: -webkit-flex;
  -webit-flex-direction: column;
}

#browser-controls #center-column {
  -webkit-flex: 1;
}

webview,
.webview-container {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
}

.selected,
#content-container .selected {
  visibility: visible;
}

.webview-container ul {
  position: relative;
  text-align: right;
  padding: 0px;
  margin: 0px;
  z-index: 2;
  list-style-type: none;
}

.webview-container ul li {
  padding: 3px;
  background: #ff7;
  border-bottom: solid 1px #aa6;
}

webview {
  z-index: 1;
}

.popup-allow {
  color: #0a0;
  font-weight: bold;
  text-decoration: none;
}

.popup-allow:hover {
  color: #0f0;
  font-weight: bold;
  text-decoration: none;
}

.popup-deny {
  color: #a00;
  font-weight: bold;
  text-decoration: none;
}

.popup-deny:hover {
  color: #f00;
  font-weight: bold;
  text-decoration: none;
}

/* The reload button turns into a spinning trobber */
.loading #reload {
  -webkit-animation: spinner-animation .5s infinite linear;
  -webkit-transform-origin: 50% 55.5%;
}

@-webkit-keyframes spinner-animation {
  0% { -webkit-transform: rotate(0deg); }
  100% {-webkit-transform: rotate(360deg); }
}

#tab-container {
  margin: 5px 5px 0px 5px;
  padding: 0px;
  display: inline-block;
}

#tab-container li {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  width: 100px;
  margin: 0px;
  padding: 6px 16px 6px 6px;
  border: 0px;
  background: #ccc;
}

#tab-container li:hover {
  background: #ddd;
}

#tab-container li.selected {
  background: #eee;
}

#tab-container li p {
  width: 100px;
  float:left;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
  padding: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

#tab-container li a {
  position: absolute;
  right: 2px;
  z-index: 2;
  padding-left: 1px;
  padding-right: 1px;
  color: #666;
  font-weight: bold;
  text-decoration: none;
  cursor: default;
}

#tab-container li a:hover {
  color: #000;
}

#tab-container li#new-tab {
  background: transparent;
  vertical-align: baseline;
  display: inline;
}

#tab-container li#new-tab a {
  font-size: 24px;
  padding: 0px;
}

/* Classes for general lightbox overlay */

.trim {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.full {
  width: 100%;
  height: 100%;
}

.padded {
  padding: 10px;
}

.flex-container {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.center {
  align-items: center;
}

.center-text {
  text-align: center;
}

.flex {
  flex-grow: 1;
  flex-shrink: 1;
}

.flex-wide {
  flex-grow: 4;
  flex-shrink: 1;
}

.flex-narrow {
  flex-grow: 1;
  flex-shrink: 4;
  width: 300px;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.abs-full {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.lightbox-overlay {
  opacity: 0.5;
  background: #000;
}

.lightbox {
  padding: 20px;
  margin: 20px;
  background: #fff;
  border-radius: 5px;
}

.hide {
  visibility: hidden;
}

#zoom-box,
#find-box {
  background-color: #eee;
  border: solid 1px #ccc;
  border-top: solid 1px #eee;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 2px;

  position: fixed;
  margin-top: -1px;
  height: 25px;

  display: none;
}

#zoom-box #zoom-form,
#find-box #find-form {
  -webkit-flex: 1;
  display: -webkit-flex;
  -webit-flex-direction: row;
}

#zoom-box input,
#zoom-box button,
#find-box button {
  border-radius: 2px;
}

#zoom-box #zoom-text,
#find-box #find-text {
  border: solid 1px #ccc;
  margin-right: 0px;
  padding: 2px;
  -webkit-box-sizing: border-box;
  -webkit-flex: 1;
}

#zoom-box {
  left: 5px;
  width: 125px;
  z-index: 2;
}

#zoom-box input[type="submit"] {
  font-size: 14px;
  margin: 2px 0px;
  padding: 0 2px 3px 2px;
  width: 22px;
}


#zoom-box button {
  font-size: 12px;
  margin: 2px 0px;
  padding: 0px 1px 0px 0px;
  width: 20px;
}

#find-box {
  right: 5px;
  width: 280px;
  z-index: 2;
}

#find-box #find-text {
  border-right-style: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

#find-results {
  margin: 0px 0px;
}
#find-box #find-results {
  color: #888;
  background-color: #eee;
  border: solid 1px #ccc;
  border-top: solid 1px #eee;
  border-left-style: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 3px 4px 2px 0;
  text-align: center;
}

#find-box #match-case {
  margin: 2px 0px;
  font-size: 10px;
  width: 28px;
}

#find-box #find-backward,
#find-box #find-forward {
  font-size: 14px;
  width: 24px;
}

.overlay-gray {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.overlay-bar {
  background: rgb(221, 221, 221);
  z-index: 999;
  position: relative;
  width: 100%;
  height: 25px;
  border: solid;
  display: none;
  -webkit-box-sizing: border-box;
  -webkit-flex: 1;
}

#exit-box {
  color: rgb(193, 193, 193);
  display: none;
  position: absolute;
  z-index: 1000;
}

.req-exit-button {
  color: rgb(193, 193, 193);
  background: rgb(90, 90, 90);
  width: 40px;
  text-align: center;
}

.req-exit-button:focus {
  border: 1px solid #fff;
}

#permission-box {
  background-color: #eee;
  border: solid 1px #ccc;
  border-top: solid 1px #eee;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 2px;

  position: fixed;
  margin-top: -1px;

  display: none;
  max-height: 50px;
}

#question {
  vertical-align: middle;
}

.req-permission-button {
  float: right;
  padding-right: 10px;
  height: 23px;
  border: solid 1px #ddd;
  margin-bottom: 2px;
}

#proxyInfo {
  display: none;
}